<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
          <property name="location" value="classpath:/test/jdbc-test.properties"/> 
    </bean>
    
    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
          <property name="driverClassName" value="${jdbc.driverClassName}"/>
          <property name="url" value="${jdbc.databaseurl}" />
          <property name="username" value="${jdbc.username}"/>
          <property name="password" value="${jdbc.password}" />
    </bean>
    
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="configLocation" value="classpath:/test/hibernate-test.cfg.xml"/>
        <property name="configurationClass">
            <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.team33.entities.Account</value>
                <value>com.team33.entities.Genre</value>
                <value>com.team33.entities.Invoice</value>
                <value>com.team33.entities.InvoicePK</value>
                <value>com.team33.entities.LoginToken</value>
                <value>com.team33.entities.LoginTokenPK</value>
                <value>com.team33.entities.Orders</value>
                <value>com.team33.entities.OrdersPK</value>
                <value>com.team33.entities.Purchase</value>
                <value>com.team33.entities.PurchasePK</value>
                <value>com.team33.entities.Rental</value>
                <value>com.team33.entities.RentalPK</value>
                <value>com.team33.entities.ScreenRating</value>
                <value>com.team33.entities.VideoInfo</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${jdbc.dialect}
                hibernate.show_sql=false
            </value>
        </property>
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    
    <!-- Transaction manager -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="defaultLobHandler"
          class="org.springframework.jdbc.support.lob.DefaultLobHandler" />
    
</beans>
